body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#b5bba3;
}

div {
    padding:10px;
}

#copy {
    font-style: italic;
    margin-top: -15px;
}

#content img {
    float: left;
    margin-right: 25px;
}


#main {
    display: inline-block;
    margin-top: -10px;
}

input {
    display: none;
}

.tab-button {
    display: inline-flex;
    height: 20px;
    width: 100px;
    padding: 5px;
    margin: -10px 0 0 -10px;
    border-radius: 2px 5px 0 0;
    background-color: #7a785f;
    color: #ede9b1;
}

.tab-button:hover {
    background-color: #64634e;
}

#tab {
    display: block;
    width: 550px;
    height: auto;
    margin-left: -10px;
    background-color: #ede9b1;
    color: #7a785f;
}

#tab img {
    width: 400px;
}

#selected {
    background-color: #ede9b1;
    color: #7a785f;
}